*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    font-family: 16px;
    text-decoration: none;
    list-style: none;
}

.box-1{
    width: 600px;
    height: 268px;
    margin: auto;
    margin-top: 30px;
    border: 4px solid #4f301e;
    border-radius: 15px;
    background-color: #d6d3c0;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 30px;
}
.texto{
    margin-top: 2rem;
} 

h1{
    /*padding-top: 10px;*/
    font-family: Arial, Helvetica, sans-serif;
}
.box-1 p{
    padding: 20px 0px; 
    padding-right: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.box-1 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #86603b;
    font-weight: bold;
}

.box-1 a:hover{
    cursor: pointer;
    color: #754e26;
    /*text-decoration: underline;*/
}